.cursor-pointer {
    cursor: pointer;
}

.block {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #eee !important;
    margin-bottom: 1rem;
    font-size: 0.6rem;
}

.property-list {
    padding: 1rem 1rem 0;
    list-style: none;
}

.property-list .value {
    float: right;
}

.hvr-fade {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
    background-color: #D3D5D6;
}